<div class="bg-sessions">
<div class="container py-5">
  <div class="row">

      <div class="bg-white rounded p-3 shadow">
      <div class="row">
      <h2>Editar perfil</h2>
      <div class="col-6">
        <div class="rounded-circle overflow-hidden avatar2">
          <img src="<%= @user.photo.url %>" alt="User Photo" class="img-fluid">
        </div>
      </div>

        <div class="col-6" data-controller="hide-cpf">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
            hint: "Se precisa mudar seu email, entre em contato conosco",
             required: false, autofocus: true, disabled: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :cpf,
                        hint: "Digitou seu CPF errado? entre em contato conosco",
                        required: false,
                        disabled: true,
                        label: "CPF",
                        input_html: { autocomplete: "cpf", type: "password"} do %>
                          <div class="search-form-control2 form-group">
                            <%= f.text_field :cpf, class: "form-control", type: "password", disabled: true, autocomplete: "off", data: {hide_cpf_target: "cpf"} %>
                            <div class="btn btn-link text-decoration-none" type='submit' data-action="click->hide-cpf#hide">
                              <span class="input-group-text">
                                <i class="fa-solid fa-eye"></i>
                        </span>
                            </div>
                          </div>
                        <% end %>
            <%= f.input :first_name,
                        hint: "Deixe em branco, se não precisa mudar",
                        required: false,
                        input_html: { autocomplete: "first_name" } %>
            <%= f.input :last_name,
                        hint: "Deixe em branco, se não precisa mudar",
                        required: false,
                        input_html: { autocomplete: "last_name" } %>
            <%= f.input :password,
                        hint: "Deixe em branco, se não precisa mudar",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :current_password,
                        hint: "precisamos de sua senha atual para confirmar as mudanças",
                        required: true,
                        input_html: { autocomplete: "photo" } %>
            <%= f.input :photo,
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Atualizar", class: "btn btn-primary text-white mb-1" %>
          </div>
        <% end %>

        <h4 class="mt-1">Cancelar minha Conta</h4>

        <div>Quer cancelar? <%= button_to "Clique aqui 😭", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

        <%= link_to "Voltar", :back, class: "btn btn-primary text-white mt-1" %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
