
<%= render "shared/menu_style", condominium: @condominium %>

<div class="container card-home-condos p-3 d-flex flex-column justify-content-center align-items-center"> <!--Aqui inicia a div com os carrosseis, eventos e avisos -->

    <div class="card-orange"> <!--Aqui inicia a divisão laranja -->
     <P>HOME</P>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @condominium.photos.each_with_index do |photo, index| %>
          <div class="carousel-item carrous1 <%= 'active' if index.zero? %>">
            <%= image_tag(photo.url, class: 'd-block w-100 img-fluid', alt: "Imagem #{index + 1}") %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>

  <div class="title"> <!--Aqui é uma Div para os títulos -->
   <p>Seus próximos Eventos:</p>
  </div>

<div class="event"> <!--Aqui inicia os cartões dos eventos-->
  <% sorted_items = (current_user.rentals + current_user.services).sort_by(&:date) %>
  <% 7.times do |i| %>
    <% item = sorted_items[i] %>
    <% if item.present? %>
      <% if item.is_a?(Rental) %>
        <!-- Se for uma Rental -->
        <div class="event-card text-center event-card-rental">
          <%= link_to condominium_my_rentals_path(@condominium), title: "Reservas de área comum", class: "text-decoration-none" do %>
            <h2 class="text-white pt-3"><%= item.date.strftime("%d") %></h2>
            <h4 class="text-white"><%= item.date.strftime("%h") %></h4>
            <p class="text-white"><%= truncate(item.place.name, length: 15) %></p>
          <% end %>
        </div>
      <% elsif item.is_a?(Service) %>
        <!-- Se for um Service -->
        <div class="event-card text-center event-card-service">
          <%= link_to condominium_services_path(@condominium), title: "Agendamento de Manutenção", class: "text-decoration-none" do %>
            <h2 class="text-white pt-3"><%= item.date.strftime("%d") %></h2>
            <h4 class="text-white"><%= item.date.strftime("%h") %></h4>
            <p class="text-white"><%= truncate(item.description, length: 10) %></p>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <!-- Conteúdo do bloco padrão -->
      <div class="event-card text-center event-card-default">
        <%= link_to condominium_places_path(@condominium), title: "Reservas de área comum" do %>
          <p class="text-white mb-1 p-1"><i class="fa-solid fa-plus"></i></p>
          <p class="mb-0 text-white text-decoration-none">Reserva</p>
        <% end %>
        <%= link_to condominium_services_path(@condominium), title: "Agendamento de Manutenção" do %>
          <p class="text-white border-top mb-1 p-1"><i class="fa-solid fa-plus"></i></p>
          <p class="mb-1 text-white text-decoration-none">Manutenção</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

  <div class="title">
    <P>Avisos do Condomínio:</P> <!--Aqui é uma Div para os títulos -->
  </div>

  <div id="carouselExampleIndicators2" class="carousel slide h-100" data-bs-ride="carousel">
  <!-- Indicadores do carrossel -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <!-- Itens do carrossel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= render "posts/card-carroussel", post: @admin_posts[2], condominium: @condominium %>
    </div>
    <div class="carousel-item">
      <%= render "posts/card-carroussel", post: @admin_posts[1], condominium: @condominium %>
    </div>
    <div class="carousel-item">
      <%= render "posts/card-carroussel", post: @admin_posts[0], condominium: @condominium %>
    </div>
  </div>
  <!-- Controles do carrossel -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


    </div>
   </div>
</div>
