<!-- Aqui inicia o Banner -->

  <div class="banner-cond" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @condominium.photos.first.url %>);">
  </div>

  <div class="container d-flex">
   <div class="menu">
    <div class="card-cond p-2"> <!--Aqui inicia o cartão de Boas Vindas ao condomínio -->
     <h4>Bem-vindo ao,</h4>
     <h2 class=""><%= @condominium.name %>!</h2>
    </div>
    <div class="card-btn p-3 d-flex flex-column justify-content-between mt-1"> <!--Aqui iniciam os botões laterais -->
       <%= link_to condominium_path(@condominium), title: "Home" do %>
        <button class="d-flex btn btn-primary text-white font-weight-bold text-decoration-none w-100 p-2">Home</button>
      <% end %>
       <%= link_to condominium_path(@condominium), title: "Comunidade" do %>
        <button class="d-flex btn btn-primary text-white font-weight-bold text-decoration-none w-100 p-2">Comunidade</button>
      <% end %>
      <%= link_to condominium_services_path(@condominium), title: "Agendamento de Manutenção" do %>
        <button class="d-flex btn btn-primary text-white font-weight-bold text-decoration-none w-100 p-2">Manutenção</button>
      <% end %>
      <%= link_to condominium_my_rentals_path(@condominium), title: "Reservas de area comum" do %>
        <button class="d-flex btn btn-primary text-white font-weight-bold text-decoration-none w-100 p-2">Minhas Reservas</button>
      <% end %>
      <%= link_to condominium_places_path(@condominium), title: "Reservas de area comum" do %>
        <button class="d-flex btn btn-primary text-white font-weight-bold text-decoration-none w-100 p-2">Areas Comuns</button>
      <% end %>
      <%= link_to condominium_path(@condominium), title: "Portaria`" do %>
        <button class="d-flex btn btn-primary text-white font-weight-bold text-decoration-none w-100 p-2">Portaria</button>
      <% end %>
      <%= link_to condominium_rules_path(@condominium), title: "Regras do Condominio" do %>
        <button class="d-flex btn btn-primary text-white font-weight-bold text-decoration-none w-100 p-2">Regras</button>
      <% end %>
      <%= link_to condominium_path(@condominium), title: "Apartamentos para alugar" do %>
        <button class="d-flex btn btn-primary text-white font-weight-bold text-decoration-none w-100 p-2">Alugueis</button>
      <% end %>
      <%= form_with url: new_condominium_resident_path(@condominium), method: :get, class: "d-flex" do %>
      <%= text_field_tag :cpf,
            params[:cpf],
            class: "form-control",
            placeholder: "CPF"
        %>
      <%= submit_tag "Adicionar Condominio", name: "", class: "btn btn-primary" %>
    <% end %>
    </div>
   </div>
