<%= render "shared/menu_style" %>

<div class="container card-home-condos p-3">

  <Div class="d-flex justify-content-center align-items-center mb-4">
    <div class="card-orange"> <!--Aqui inicia a divisão laranja -->
     <P>Minhas reservas</P>
    </div>
  </div>

      <div class="row d-flex justify-content-between">
        <div class="col-12">
          <div class="cards-product">
            <% @rentals.each_with_index do |rental, index| %>
            <div class="card-product">
              <%= image_tag rental.place.photos.first %>
          <div class="card-product-infos col-9">
            <h2><%= rental.place.name %></h2>
            <p>Data: <%= rental.date.strftime("%d/%m/%Y") %></p>
            <p>Horário da reserva: <%= rental.time.strftime("%H:%M") %></p>
            <p>Valor de Reserva: R$ <%= rental.place.price %></p>
          </div>

        <div class="col-3">
        <%= link_to rental_path(rental),
          title: "Clique aqui para cancelar essa reserva!",
          data: {turbo_method: :delete, turbo_confirm: "Tem certeza que deseja cancelar?"} do %>
          <button class="btn btn-primary text-white font-bold me-4"><i class="fa-solid fa-trash"></i> Cancelar </button>
        <% end %>
        </div>

    </div>
    <% end %>
    </div>
  </div>
</div>
</div>
</div>
