<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1629224834618-1cf72b367162?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>A primeira rede social de condominios do Brasil!</strong>!</h1>
    <p>Tenha acesso a comunidades, reuniões, agendamentos e muito mais!</p>
    <%= link_to new_condominium_path, class: "text-decoration-none btn btn-primary text-white" do %>
    Cadastre seu condominio!
    <% end %>
  </div>
</div>

<div class="container card-home p-3">
  <h2>Mais do que um app de condominio, somos:</h2>
  <div class="row d-flex justify-content-evenly">
        <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="row d-flex justify-content-center">
        <%= image_tag 'schedule.png', class: 'white-card-images'%>
      </div>
      <div class="row d-flex justify-content-center text-center">
        <h4>Agendamentos de servicos e espaços diretamente pelo app</h4>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="row d-flex justify-content-center">
        <%= image_tag 'social.png', class: 'white-card-images'%>
      </div>
      <div class="row d-flex justify-content-center text-center">
        <h4>Comunidades, publicações, avisos e muito mais</h4>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="row d-flex justify-content-center">
        <%= image_tag 'rent.png', class: 'white-card-images'%>
      </div>
      <div class="row d-flex justify-content-center text-center">
        <h4>Anuncio de aluguel e venda de imoveis disponivel para todos</h4>
      </div>
    </div>
</div>
</div>

<div class="container p-3">
  <div class="row d-flex justify-content-between">
    <div class="col d-flex align-items-center">
      <div class="row d-none">
        <h2>Tenha todo o condominio na palma da sua mão!</h2>
      </div>
      <div class="row">
      <ul>
        <li>Traga o social para os condominos com a aba condominios</li>
        <li>Autorizacoes de entrada? agora é facil com a aba portaria!</li>
        <li>Precisa alugar um apartamento? com a aba alugueis coloque seu imovel em poucos segundos!</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <%= image_tag 'family-1.png', class: 'image-home-family'%>
    </div>
  </div>
</div>

<div class="container card-home-condos p-3">
  <div class="row d-flex justify-content-between">
  <div class="col-6 mb-4">
    <h2>Alguns de nossos condomínios:</h2>
  </div>
  <div class="col-4 d-flex justify-content-end">
    <%= link_to condominia_path, title: "Minhas Compras" do %>
      <button class="btn btn-primary text-white">Veja todos os condomínios</button>
    <% end %>
  </div>
  </div>
  <div class="cards-trip">
    <% @condominia.shuffle.take(3).each do |condominium| %>
        <div class="card-trip">
          <img src="<%= condominium.photos.first.url %>" />
          <div class="card-trip-infos">
          <%= link_to condominium_path(condominium), class: "text-decoration-none" do %>
            <div>
              <h2><%= condominium.name %></h2>
              <p><%= truncate(condominium.address, length: 35, omission: '...') %></p>
            </div>
          <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
