<div class="card-post-blue card-post d-flex">
  <div class="row w-100">
    <div  class="col">

      <div class="users d-flex text-white">
        <!-- foto do usuário -->
        <div class="photo">
          <% if post.user.photo.attached? %>
            <%= image_tag post.user.photo, class: "avatar d-flex", alt: "User Avatar" %>
          <% else %>
            <%= image_tag "default_avatar.png", class: "avatar d-flex", alt: "Default Avatar" %>
          <% end %>
        </div>
        <!-- nome do usuário e timestamp-->
        <div class="user-name m-2">
          <%= post.user.first_name %>, <%= post.updated_at.strftime("%d/%m/%Y às %H:%M")%>h
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <!-- Imagem upada-->
        <div  class="col-9 my-2 rounded">
          <% if post.photo.attached? %>
            <%= image_tag post.photo, class: "w-50" %>
          <% end %>
        </div>
      </div>
      <!-- Conteúdo do post-->
      <div class="card-post d-flex justify-content-start align-items-center w-100">
        <p class="card-text"><%= post.content%></p>
      </div>

      <!-- botão Comentários -->


      <!-- botões de deleção e edição do post-->
      <% if current_user.admin || post.user == current_user %>
        <div class="position-absolute top-0 end-0 mt-3 mx-3 d-flex">
          <%= link_to post_path(post),
          title: "Clique aqui para excluir este post",
          data: {turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir?"} do %>
            <i class="delete-icon fa-solid fa-trash"></i>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
