<%= link_to new_condominium_post_path(condominium), class: "text-black text-decoration-none", title: "Comunidade" do %>
<div class="card-post-blue-carroussel card-post d-flex">
  <div class="row w-100">
    <div  class="col">

      <div class="users d-flex text-white">
        <!-- foto do usuário -->
        <div class="photo">
          <% if post.user.photo.attached? %>
            <%= image_tag post.user.photo, class: "avatar d-flex h-100", alt: "User Avatar" %>
          <% else %>
            <%= image_tag "default_avatar.png", class: "avatar d-flex", alt: "Default Avatar" %>
          <% end %>
        </div>
        <!-- nome do usuário e timestamp-->
        <div class="user-name m-2">
          <%= post.user.first_name %>, <%= post.updated_at.in_time_zone("Brasilia").strftime("%d/%m/%Y, às %H:%M") %>h
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <!-- Imagem upada-->
        <div  class="col-9 my-2 mx-auto rounded d-flex justify-content-center">
          <% if post.photo.attached? %>
            <%= image_tag post.photo, class: "w-50 mx-auto" %>
          <% end %>
        </div>
      </div>
      <!-- Conteúdo do post-->
      <div class="card-post d-flex justify-content-start align-items-center w-100">
        <p class="card-text"><%= truncate(post.content, length: 140) %></p>
      </div>


    </div>
  </div>
</div>
   <% end %>
