<div class="card-post-blue card-trip d-flex">
  <div class="row w-100">
    <div  class="col">
     <div class="users d-flex text-white">
      <div class="photo">
        <% if post.user.photo.attached? %>
          <%= image_tag post.user.photo, class: "avatar d-flex", alt: "User Avatar" %>
        <% else %>
          <%= image_tag "default_avatar.png", class: "avatar d-flex", alt: "Default Avatar" %>
           <% end %>
      </div>
      <div class="user-name m-2">
      <%= post.user.first_name %>
      </div>
    </div>

      <div class="row d-flex justify-content-center">
        <div  class="col-9 my-2 rounded">
          <% if post.photo.attached? %>
            <%= image_tag post.photo, class: "w-50" %>
          <% end %>
        </div>
      </div>

      <div class="card-trip d-flex justify-content-start align-items-center w-100">
        <p class="card-text"><%= post.content%></p>
      </div>

      <% if current_user.admin || post.user == current_user %>
        <div class="position-absolute top-0 end-0 mt-2 d-flex">
          <%= link_to post_path(post),
          title: "Clique aqui para excluir este post",
          data: {turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir?"} do %>
            <i class="delete-icon fa-solid fa-trash"></i>
          <% end %>

          <%= link_to edit_post_path(post),
          title: "Clique aqui para editar este post" do %>
            <i class="edit-icon fa-solid fa-edit"></i>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
