<%= render "shared/menu_style" %>

<div class="container card-home-condos p-3">

  <Div class="d-flex justify-content-center align-items-center mb-4">
    <div class="card-orange"> <!--Aqui inicia a divisão laranja -->
     <P>Areas Comuns</P>
    </div>
  </div>

  <div class="row d-flex justify-content-between">
  <div class="col-6">
    <h2>Areas disponíveis:</h2>
  </div>
  <div class="col-4 d-flex justify-content-end">
    <%= link_to new_condominium_place_path, title: "Minhas Compras" do %>
      <button class="btn btn-primary text-white">Adicionar Area</button>
    <% end %>
  </div>
  </div>
  <div class="row d-flex justify-content-between">
  <div class="col-12">
  <div class="cards-trip">
    <% @places.each do |place| %>
        <div class="card-trip">
          <img src="<%= place.photos.first.url %>" />
          <div class="card-trip-infos">
          <%= link_to new_place_rental_path(place), class: "text-decoration-none" do %>
            <div>
              <h2><%= place.name %></h2>
              <p><%= truncate(place.description, length: 35, omission: '...') %></p>
            </div>
          <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>
