<%= render "shared/menu_style" %>

  <div class="container card-home-condos p-3">

    <div class="d-flex justify-content-center align-items-center mb-4">
      <div class="card-orange"> <!--Aqui inicia a divisão laranja -->
      <p>Alugueis</p>
      </div>
    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-6">
        <h2>Áreas Disponíveis:</h2>
      </div>

      <!--Botão para criar place -->
    <% if current_user.syndic? %>
      <div class="col-4 d-flex justify-content-end">
        <%= link_to new_condominium_place_path, title: "Minhas Compras" do %>
          <button class="btn btn-primary text-white">Adicionar Área</button>
        <% end %>
      </div>
    <% end %>

    </div>

    <div class="row d-flex justify-content-between">
      <div class="col-12">
        <div class="cards-trip">
          <% @places.each do |place| %>
            <div class="card-trip place">

              <% if current_user.syndic? %>
                <div class="position-absolute top-0 end-0 mt-2 d-flex">
                  <%= link_to place_path(place),
                  title: "Clique aqui para excluir esta área",
                  data: {turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir?"} do %>
                    <i class="delete-icon fa-solid fa-trash"></i>
                  <% end %>

                  <%= link_to edit_place_path(place),
                  title: "Clique aqui para editar esta área" do %>
                    <i class="edit-icon fa-solid fa-edit"></i>
                  <% end %>
                </div>
              <% end %>

              <img src="<%= place.photos.first.url %>" />

              <div class="card-trip-infos">
                <%= link_to new_place_rental_path(place), class: "text-decoration-none" do %>
                  <div>
                    <h2><%= place.name %></h2>
                    <p><%= truncate(place.description, length: 35, omission: '...') %></p>
                  </div>
                <% end %>
              </div>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div> <!--Div para o render (1ª linha) -->
